<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body class="ok">
    <div id="app">
        <button @click="count()">List moment</button>
        <div v-for="x in max">
            <div v-if="counter<x">
                {{lol()}}
            </div>
        </div>
        <div v-html="test"></div>
    </div>
    <script src="index.js"></script>
    <script>app.mount('#app');</script>
</body>
</html>